* {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;

}

.top-Container {
    background-color: antiquewhite;

    position: relative;
    padding-top: 45px;
}

.middle-Container {}

.imageprofile {
    width: 12%;
    height: 12%;
    padding-top: 70px;
}

.mou {
    width: 55%;
    height: 55%;
}

.bottom-cloud {
    position: absolute;
    margin-left: 60px;
}

.top-cloud {
    position: absolute;
    margin-left: 170px;
}

h1,
p {
    margin-top: 40px;
    line-height: 2;
}

h2 {
    color: blueviolet;
}

h3 {
    color: darkcyan;
}


.intro {
    width: 30%;
    margin: auto;
}

hr {
    width: 10%;
    border-style: dotted;
    border-color: black;
    border-width: 10px;
    border-top: none;
    margin: 60px auto;

}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.giphy-embed {
    float: left;
    margin-right: 80px;
    border-radius: 80px;
}

.giphy-embed2 {
    float: right;
    margin-right: 80px;
    border-radius: 80px;
}

.giphy-embed3 {
    border-radius: 70%;
}

.bottom-container {
    background-color: aquamarine;
    padding: auto;
}

.footer-link {
    padding-top: 10px;
}

.ibra {
    margin-top: 10px;
}